@font-face {
        font-family: SeeFits;
        src: url("./media/SeeFitsv2.ttf");
    }
    @font-face {
        font-family: Fairfax;
        font-weight: normal;
        src: url("./media/Fairfax.ttf");
    }
    @font-face {
        font-family: Fairfax;
        font-weight: bold;
        src: url("./media/fairfax-bold.ttf");
    }
    .ffx {
        font-family: Fairfax;
        font-size: 48px;
    }
    .ffx.body {
        font-family: Fairfax;
        font-size: 24px;
    }
    .ffx.info {
        font-family: Fairfax;
        font-size: 12px;
        color: rgb(104, 104, 104);
    }
    .cf {
        font-family: SeeFits;
        font-size: 36px;
    }
    .cf.body {
        font-size: 18px;
        color: rgb(43, 43, 43);
    }
    #dc {
        color:white
    }
    #g {
        color: wheat;
    }
    #pg {
        color:darkolivegreen;
    }
    #pg13 {
        color:rgb(136, 75, 1);
    }
    #r {
        color:crimson;
    }
    nav {
        position: sticky;
        top: 0;
    }
    footer {
        position: sticky;
        bottom: 0;
        text-align: right;
    }
    .nav-flex {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: darkgray;
        padding: 25px;
        margin-bottom: 10px;
        border-bottom: 5px solid black;
    }
    .search {
        width: 1000px;
        height: 60px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 0px;
        border: 3px solid dimgray;
    }
    #go {
        height: 70px;
        border: 3px solid maroon;
        text-align: center;
        color: #444444;
    }
    #go:hover {
        border: 3px solid green;
        color: black;
        background-color: rgb(106, 255, 118);
    }
    .search:focus {
        outline: 0px solid black;
        border: 3px solid dodgerblue;
        background-color: wheat;
    }
    .gif-display {
        display: grid;
        gap: 30px;
        grid-template-columns: auto auto auto auto auto auto;
        column-gap: auto;
    }
    .isblock {
        display: block;
    }
    .gif:hover {
        background-color: #e0e0e0;
    }
    .gif-info {
        padding-left: 3px;
    }